## The lifecycle of a Machine Learning project

- Planning/choosing a goal
- Data collection & labelling
- Training and optimization
- Deployment

## Planning

Choosing what to work on and what is the measurement of success is the most important part of the project.

Get help here! Ask domain experts, business people, meditate on it. Do spend some time to think about it. But don't linger for too long. Analysis paralysis is a very common phenomenon in the real world!

## Prototyping a baseline model

Jupyter notebooks are a great prototyping/experimentation tool. You can use a notebook(s) to get some quick ideas about the feasibility and performance of a model.

After you get some results, you'll proceed to create a full-blown project containing the baseline model. This will be a lot of work, but some rewards you might expect are bug fixes, new ideas, and developing something that (hopefully) has a real-world impact.

Next, we'll go over an example task of automating the decision of whether a bank customer has good or bad credit risk.

### Getting your data

If you haven't solved any real-world ML problems yet, you might believe that most datasets get stored as CSV files. While this format is great when learning, you'll often need to understand SQL, pickle, HDF5, Parquet, and many more.

In [24]:
from sklearn import datasets

features, targets = datasets.fetch_openml(
    name="credit-g", 
    version=1, 
    return_X_y=True, 
    as_frame=True
)

features.shape, targets.shape

((1000, 20), (1000,))

In [20]:
features.head()

  checking_status  duration  ... own_telephone foreign_worker
0              <0       6.0  ...           yes            yes
1        0<=X<200      48.0  ...          none            yes
2     no checking      12.0  ...          none            yes
3              <0      42.0  ...          none            yes
4              <0      24.0  ...          none            yes

[5 rows x 20 columns]

In [23]:
targets.head()

0    good
1     bad
2    good
3    good
4     bad
Name: class, dtype: category
Categories (2, object): ['good', 'bad']

In [15]:
targets.value_counts()

good    700
bad     300
Name: class, dtype: int64